name: "build"

on:
    push:
        branches:
            - main
    pull_request:
    merge_group:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os:
                    - ubuntu-24.04
                    - ubuntu-24.04-arm
                    - macos-latest
                    - macos-15-intel
        env:
            LLVM_SYS_201_PREFIX: /usr/lib/llvm-20

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.head_ref }}
                  repository: ${{github.event.pull_request.head.repo.full_name || github.repository }}
            - name: Install LLVM dependencies from the cache (Linux)
              if: runner.os == 'Linux'
              uses: awalsh128/cache-apt-pkgs-action@latest
              with:
                  packages: llvm-20 llvm-20-dev libpolly-20-dev clang-20
                  version: 1.0
            - name: Install LLVM dependencies from Homebrew (macOS)
              if: runner.os == 'macOS'
              run: |
                  brew install llvm@20
                  echo "LLVM_SYS_201_PREFIX=$(brew --prefix llvm@20)" >> $GITHUB_ENV
            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
            - name: Use dependency cache
              uses: Swatinem/rust-cache@v2
            - name: cargo build
              uses: actions-rs/cargo@v1
              with:
                  command: build
                  args: --release
            - name: Prepare artifacts directory
              run: mkdir -p outputs/{bin,include,libzr}
            - name: Copy built binaries to artifacts directory
              run: |
                  cp target/release/zrc outputs/bin
                  cp target/release/zircop outputs/bin
                  chmod +x outputs/bin/zrc
                  chmod +x outputs/bin/zircop
            - name: Copy headers to artifacts directory
              run: |
                  cp -r include/ outputs/include/
            - name: Build standard library
              run: make -j2 -C libzr all ZRC=target/release/zrc
            - name: Copy libzr libraries to artifacts directory
              run: |
                  cp libzr/dist/libzr.a outputs/libzr/
                  cp libzr/dist/libzr.so outputs/libzr/
            - name: Copy libzr headers to artifacts directory
              run: |
                  cp -r libzr/include/ outputs/libzr/include/
            - name: Upload build artifacts
              uses: actions/upload-artifact@v6
              with:
                  path: outputs
                  name: zrc-${{ matrix.os }}-release
    lint-std:
        needs: build
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.head_ref }}
                  repository: ${{github.event.pull_request.head.repo.full_name || github.repository }}
            - name: Download build artifact
              uses: actions/download-artifact@v7
              with:
                  name: zrc-ubuntu-24.04-release
                  path: ./artifacts
            - name: Add zrc and zircop to PATH
              run: echo "PATH=$(pwd)/artifacts/bin:$PATH" >> $GITHUB_ENV
            - name: Lint source for libzr
              run: make -j2 -C libzr lint ZIRCOP=zircop
    verify-examples:
        needs: build
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.head_ref }}
                  repository: ${{github.event.pull_request.head.repo.full_name || github.repository }}
            - name: Download zrc binary
              uses: actions/download-artifact@v7
              with:
                  name: zrc-ubuntu-24.04-release
                  path: ./artifacts
            - name: Add zrc to PATH
              run: echo "PATH=$(pwd)/artifacts/bin:$PATH" >> $GITHUB_ENV
            - name: Build and test all examples
              run: make -j2 -C examples test ZRC=zrc LIBZR_DIR=$(pwd)/artifacts/libzr/
    lint-examples:
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.head_ref }}
                  repository: ${{github.event.pull_request.head.repo.full_name || github.repository }}
            - name: Download zircop
              uses: actions/download-artifact@v7
              with:
                  name: zircop-debug
                  path: ./artifacts
            - name: Make zircop executable
              run: |
                  chmod +x ./artifacts/zircop
            - name: Add zrc and zircop to PATH
              run: echo "PATH=$(pwd)/artifacts:$PATH" >> $GITHUB_ENV
            - name: Lint all examples
              run: make -j2 -C examples lint ZIRCOP=zircop
