name: "test"

on:
    push:
        branches:
            - main
    pull_request:
    merge_group:

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            LLVM_SYS_201_PREFIX: /usr/lib/llvm-20

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.head_ref }}
                  repository: ${{github.event.pull_request.head.repo.full_name || github.repository }}
            - name: Install LLVM dependencies
              uses: awalsh128/cache-apt-pkgs-action@latest
              with:
                  packages: llvm-20 llvm-20-dev libpolly-20-dev clang-20
                  version: 1.0
            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
                  components: rustfmt, clippy
            - name: Install Rust problem matchers
              uses: r7kamura/rust-problem-matchers@v1
            - name: Install cargo-tarpaulin
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-tarpaulin
            - name: Use dependency cache
              uses: Swatinem/rust-cache@v2
            - name: cargo test
              uses: actions-rs/cargo@v1
              with:
                  command: tarpaulin
                  args: -o lcov --engine llvm --skip-clean
            - name: Upload coverage
              uses: codecov/codecov-action@v5
              with:
                  fail_ci_if_error: true
                  token: ${{ secrets.CODECOV_TOKEN }}
